@import 'utility.css';
:root{
    --primary: #3dcfd3;
    --dark: #161616;
    --pure: #ffffff;
    --ternary: #898989;
    --light: #f2f2f2;
    --secondary: #070606;
}
body{
    /* height: 8000px; */
    font-family: 'poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
header{
    background: black;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 73% 90%, 0 100%);

}

.container{
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}

@media (min-width:576px){
    .container{
        max-width: 540px;
    }
}

@media (min-width:768px){
    .container{
        max-width: 720px;
    }
}
@media (min-width:992px){
    .container{
        max-width: 960px;
    }
}
@media (min-width:1200px){
    .container{
        max-width: 1152px;
    }
}
header nav .left a{
    color: var(--pure);
    text-decoration: none;
    margin-right: 1rem;
    text-transform: uppercase;
    transition: all .3s ease;
    -webkit-transition:all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-trasition: all .3s;
}
header nav .left a:hover{
    color: var(--primary);
}
body{
    font-family: 'poppins', sans-serif;
}
header nav{
    padding: 2rem 0;
}
header nav .branding{
    margin-right: 3rem;
}

.hero{
    padding: 3rem 0;
}
.hero .left img{
 width: 400px;
 height: 650px;
}

.hero .right{
    color: var(--pure);
}
.hero .right h6{
    font-size: 1.7rem;
    color: var(--primary);
}
.hero .right h1{
    font-size: 3rem;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 2rem;
}
.hero .right h1 span{
    color: var(--primary);
}

.hero .right p{
    line-height: 1.9;
    margin-bottom: 2rem;
}

.hero .right{
    margin-top: -7rem;
}

section{
    padding: 6rem 0;
}

section.about .about-me-img{
    height: 500px;
}
section.about h1{
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
}
section.about h1 span{
    color: var(--primary);
}

section.about h3{
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

section.about p{
    font-weight: 100;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--ternary);
    line-height: 1.9;
    margin-bottom: 2rem;
}
section.about .social{
    display: flex;
}

section.about .social i{
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right: 0.8rem;
    transition: all .3s ease;
    cursor: pointer;
    
}
section.about .social a{
    text-decoration: none;
    color: inherit;
}


section.about .social i img{
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}
section.about .social i:hover{
    background: var(--ternary);
}

.section-heading{
    color: var(--secondary);
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5;
    font-size: 2rem;
}

.section-heading + p{
    color: var(--ternary);
    font-family: sans-serif;
    margin-bottom: 8rem;
    text-align: center;
    
}

.section-heading span{
color: var(--primary);
}

section.services .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 6rem;
    
}
section.services {
    background: var(--light);
}

section.services .card-wrapper .card{
    background: var(--pure);
    padding: 3rem 2rem;
    position: relative;
    padding-top: 4rem;
    text-align: center;
    transition: all .3s ease;
}

section.services .card-wrapper .card h2{
    color: var(--primary);
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

section.services .card-wrapper .card h5{
    margin-top: 0.5rem;
    font-weight: 800;
    font-size: 1rem;
}

section.services .card-wrapper .card p{
    font-family: sans-serif;
    color: var(--ternary);
    line-height: 1.5;
}

section.services .card-wrapper .card img{
    position: absolute;
    top: -3.5rem;
     left: 50%;
     transform: translateX(-50%);
     width: 7rem;
}
section.services .card-wrapper .card:hover{
    background: var(--primary);

}
section.services .card-wrapper .card:hover h2{
    color: var(--pure);
}

section.freelancer{
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../images/camera.png);
    color: white;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 80%, 0 100%);
    padding-bottom: 14rem;

}
section.freelancer h1{
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

section.freelancer p{
    margin-bottom: 2rem;
    font-family: sans-serif;
}
section.reviews{
    text-align: center;
    background:silver;
    padding-bottom: 14rem;
    background-size: auto;

}
section.reviews .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    
}
section.reviews .card-wrapper .card img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
}

section.reviews .card-wrapper .card{
    background: var(--pure);
    padding: 1rem 1rem;
    position: relative;
    padding-top: 4rem;
    text-align: center;
    transition: all .3s ease;
    border-color: black;
}

section.reviews .card-wrapper .card:hover{
    background: var(--primary);
}

section.reviews .card-wrapper .card p{
    font-family: 'poppins', sans-serif;
    color: var(--ternary);
    margin-bottom: 1rem;
}
section.reviews .card-wrapper .card span{
font-size: 0.8rem;
}

section.reviews .card-wrapper .card p{
    font-family: sans-serif;
    color: var(--ternary);
    line-height: 1.5;
}

section.reviews .card-wrapper .card span{
    color: black;
    font-weight: 300;
}


.experience-heading{
    color: var(--secondary);
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5;
    font-size: 2rem;
}

.experience-heading + p{
    color: var(--ternary);
    font-family: sans-serif;
    margin-bottom: 8rem;
    text-align: center;
    
}

.experience-heading span{
color: var(--primary);
}

section.experience .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 6rem;
    
}
section.experience {
    color: white;
}

section.experience .card-wrapper .card{
    background:whitesmoke;
    padding: 3rem 2rem;
    position: relative;
    padding-top: 4rem;
    text-align: center;
    transition: all .3s ease;
}

section.experience .card-wrapper .card h2{
    color: var(--primary);
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

section.experience .card-wrapper .card h5{
    color: var(--primary);
    margin-top: 0.5rem;
    font-weight: 800;
    font-size: 1rem;

}

section.experience .card-wrapper .card p{
    font-family: sans-serif;
    color: var(--ternary);
    line-height: 1.5;
}

section.experience .card-wrapper .card img{
    position: absolute;
    top: -3.5rem;
     left: 50%;
     transform: translateX(-50%);
     width: 7rem;
}
section.experience .card-wrapper .card:hover{
    background:var(--dark);
}
section.experience .card-wrapper .card:hover h2{
    color: var(--pure);
}

section.experience .card-wrapper .card:hover h5{
    color: var(--primary);
}

section.active .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 6rem;
    
}
section.active {
    color: white;
    background-color: whitesmoke;
}

section.active .card-wrapper .card{
    background:white;
    padding: 3rem 2rem;
    position: relative;
    padding-top: 4rem;
    text-align: center;
    transition: all .3s ease;
}

section.active .card-wrapper .card p{
    margin-top: 2rem;
    font-family: sans-serif;
    color: var(--ternary);
    line-height: 1.5;
}

section.active .card-wrapper .card img{
    position: absolute;
    top: -3.5rem;
     left: 50%;
     transform: translateX(-50%);
     width: 7rem;
     height: 8rem;
     object-fit: cover;
}
section.active .card-wrapper .card span{
    color: var(--primary);
}

section.active .card-wrapper .card:hover{
    background:var(--dark);
}
section.goodies{
    background: var(--dark);
    clip-path: polygon(0 0, 80% 10%, 100% 0%, 100% 100%, 0 100%);
}
.goodies-heading{
    color: white;
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5;
    font-size: 2rem;
    margin-top: 5rem;
}

.goodies-heading + p{
    color: white;
    font-family: sans-serif;
    margin-bottom: 8rem;
    text-align: center;
    
}

.goodies-heading span{
color: var(--primary);
}








section.reviews .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 6rem;
    
}
section.reviews {
    color: white;
}

section.reviews .card-wrapper .card{
    background:whitesmoke;
    padding: 3rem 2rem;
    position: relative;
    padding-top: 8rem;
    text-align: center;
    transition: all .3s ease;
}

section.reviews .card-wrapper .card h2{
    color: var(--primary);
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}


section.reviews .card-wrapper .card p{
    font-family: sans-serif;
    color: var(--ternary);
    line-height: 1.5;
}

section.reviews .card-wrapper .card img{
    position: absolute;
    top: -3.5rem;
     left: 50%;
     transform: translateX(-50%);
     width: 9rem;
     height: 10rem;
}
section.reviews .card-wrapper .card:hover{
    background:var(--primary);

}
section.reviews .card-wrapper .card:hover h2{
    color: var(--pure);
}

section.contact .card-wrapper{
display: grid;
grid-template-columns:repeat(2, 1fr);
grid-gap: 2rem;
}
section.contact .card-wrapper .card{
    text-align: center;
}

section.contact .card-wrapper .card img{
    margin-bottom: 1rem;
}
section.contact .card-wrapper .card h1{
    font-weight: 300;
    margin-bottom: 0.2rem;

}

section.contact .card-wrapper .card h6{
    font-size: 0.8rem;
    color: var(--ternary);
    font-weight: 300;
    margin-bottom: 4rem;
}

section.contact .input-wrap{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-bottom: 1rem;
}

section.contact .input-wrap-2{
    display: flex;
    flex-direction: column;
}

section.contact .input-wrap-2 input{
    margin-bottom: 1rem;
}


section.contact .input-wrap-2 textarea{
    padding: 0.5rem;
    border: 1px solid silver;
    font-size: 0.9rem;
    height: 10rem;
}

section.contact .input-wrap-2 textarea:focus, section.contact  input:focus{
    outline: none;
}


section.contact input{
    padding: 0.5rem;
    border: 1px solid silver;
    font-size: 0.9rem;
}

section.contact .btn-wrapper{
    text-align: center;
    margin-top: 2rem;
}

section .footer-socials a{
    text-decoration: none;
    color: inherit;
}

footer{
    background:var(--ternary);
    text-align: center;
    padding: 5rem 0;
    
}

footer .footer-logo{
    margin-bottom: 3rem;
    width: 200px;
}

/*@media (max-width:1024px){
    header #main-nav{
        display: none;
    }
}

.site-main-wrapper{
    position: relative;
}

.hamberger{
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 11;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.hamberger img{
    width: 30px;
}

.mobile-nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    background: var(--light);
    width: 100%;
    height: 100%;
    padding: 2rem;
    padding-top: 5rem;
    transform: translateX(-100%);
    transition: all .5s ease-in-out;
}

.open{
    transform: translateX(0);
}
.times{
    position: fixed;
    top: 30px;
    right: 30px;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}

.times img{
    width: 30px;
}

.mobile-nav ul{
    list-style-type: none;
}

.mobile-nav ul li a{
    color: var(--secondary);
    text-decoration: none;
    font-size: 2rem;
}
*/





.site-main-wrapper{
    position: relative;
}

.hamberger{
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 11;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    display: none;
}
.hamberger img{
    width:30px;
}


.mobile-nav{
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 1001;
    background: var(--light);
    width: 100%;
    height: 50%;
    padding: 2rem;
    padding-top: 3rem;
    transform: translateX(-100%);
    transition: all .5s ease-in-out;
}
.open{
    transform: translateX(0);
}
.times{
    position: fixed;
    top:30px;
    right: 30px;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}

.times img{
    width: 30px;
}

.mobile-nav ul{
    list-style-type: none;
}


.mobile-nav ul li a{
    color: var(--secondary);
    text-decoration: none;
    font-size: 2rem;
    cursor: pointer;
}
.mobile-nav ul li a:hover{
color: var(--primary);
}

@media (max-width:1024px){
    header #main-nav{
        display: none;
    }

    .mobile-nav{
        height: 32%;
        padding-top: 2rem;
        }
.hamberger{
    display: block;
}
.hero .left img{
    width: 260px;
}

.hero .right h1{
font-size: 3rem;
}
.hero{
    padding-top: 10rem;
}
header{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 27% 93%, 0 100%);
}
section.about .about-me-img{
    height: 410px;
}
section.experience .card-wrapper{
    grid-template-columns: repeat(2, 1fr);
}
section.services .card-wrapper{
    grid-template-columns: repeat(2, 1fr);
}
section.active .card-wrapper{
    grid-template-columns: repeat(2, 1fr);
}

section.active .card-wrapper .card img{
    width: 8rem;
    height: 9rem;
}
}

@media (max-width:576px){
    .hero{
        flex-direction: column;
    }
    header{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 69% 95%, 0 100%);
    }
    .mobile-nav{
    height: 40%;

    }
    .hero .right{
        position: absolute;
        top: 260px;
        padding: 0 1rem;
        background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.9),rgba(0,0,0,0));
    }
    .hero .left{
        margin-top: -5rem;
        margin-right: -9rem;
        padding-bottom: 2rem;
    }
    .about-inner-wrap{
        flex-direction: column;
    }
    .about .right{
        text-align: center;
        margin-top: 2rem;
    }
    .about .right .social{
        justify-content: center;
    }
    section{
        padding: 4rem 0;
    }
    section.experience .card-wrapper{
        grid-template-columns: repeat(1, 1fr);
    }
    section.services .card-wrapper{
        grid-template-columns: repeat(1, 1fr);
    }
    section.active .card-wrapper{
        grid-template-columns: repeat(1, 1fr);
    }
    section.freelancer h1{
        line-height: 1.2;
    }
    section.freelancer{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 90%, 0 100%);
        padding-bottom: 7rem;
    }
}
 






















/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: var(--primary);
    color: white;
  }
